@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }
html,
body {
  max-width: 100%;
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main-header h2, .main-info h2, .main-scroll h2, .main-choice h2, .main-esclusive h2, .career h2, .job-search h2, .next-job h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  text-align: center;
  color: #000000; }

.main-header span, .main-info p, .main-choice p, .main-esclusive p, .career .career-box p, .job-search p, .next-job p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  /* identical to box height, or 148% */
  text-align: center;
  color: #000000; }

.header-top a, .header-middle a, .header-footer p, .header-footer span, .main-scroll .scroll_item p, .footer-top a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #000000;
  text-decoration: none; }

.main-header button, button, .main-choice button, .main-esclusive button, .job-search_container button {
  background: #190083;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  color: #ffffff; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.header-top {
  background-color: #0f1035; }
  .header-top .header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-top nav {
    padding: 20px 0px; }
  .header-top nav li {
    display: inline-block;
    list-style: none;
    padding-right: 20px; }
  .header-top nav li:last-child {
    padding-right: 0px; }
  .header-top a {
    font-weight: 700;
    color: white; }

@media (max-width: 800px) {
  .container {
    padding: 0px 10px; }

  .header-top a {
    font-size: 10px; } }
.header-middle {
  padding: 15.5px 0px; }
  .header-middle .header-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-middle nav ul {
    margin-right: 92px; }
  .header-middle nav li {
    display: inline-block;
    list-style: none;
    padding-left: 30px; }
  .header-middle nav li:first-child {
    padding-left: 0px; }
  .header-middle a {
    font-weight: 700; }

@media (max-width: 800px) {
  .header-middle a {
    font-size: 10px; }

  .header-middle nav {
    display: none; } }
.header-footer {
  background-color: #d3f1f3;
  text-align: center;
  padding: 21px 0px; }
  .header-footer p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700; }
  .header-footer span {
    margin-right: 7px; }

.main-header {
  margin-bottom: 94px;
  background-image: url(../img/main/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 33px 0px 41px 0px;
  text-align: center; }
  .main-header h2 {
    margin-bottom: 12px; }
  .main-header .search {
    margin-top: 316px;
    text-align: center; }
  .main-header input {
    width: 340px;
    height: 46px; }
  .main-header button {
    height: 46px;
    width: 108px; }

@media (max-width: 800px) {
  .main-header {
    padding: 10px 0px 10px 0px; }
    .main-header h2 {
      font-size: 21px;
      line-height: 30px; }
    .main-header span {
      font-size: 17px;
      line-height: 20px; }
    .main-header br {
      display: none; }
    .main-header .search {
      margin-top: 55px; }
      .main-header .search button {
        margin-top: 10px; } }
.main-info {
  text-align: center;
  margin-bottom: 110px; }
  .main-info h2 {
    margin-bottom: 53px; }
  .main-info p {
    margin-bottom: 91px; }
  .main-info .main-info-container {
    display: flex;
    justify-content: space-between; }
  .main-info .info-item {
    width: 33.3%;
    text-align: center; }
    .main-info .info-item img {
      margin-bottom: 35px; }
    .main-info .info-item h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      /* identical to box height, or 109% */
      text-align: center;
      color: #000000;
      margin-bottom: 20px; }
    .main-info .info-item p {
      font-size: 18px;
      line-height: 28px; }

button {
  height: 52px;
  width: 148px; }

@media (max-width: 800px) {
  .main-info {
    margin-bottom: 70px; }
    .main-info h2 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 30px; }
    .main-info p {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 60px; }
    .main-info br {
      display: none; }
    .main-info .main-info-container {
      display: block; }
      .main-info .main-info-container .info-item {
        width: 100%; } }
.wrapper {
  position: relative; }
  .wrapper .icon4 {
    position: absolute;
    top: 110%;
    left: 11%; }

.main-scroll {
  text-align: center;
  background-image: url(../img/main/Rectangle2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 111px 0px 162px 0px;
  margin-bottom: 106px; }
  .main-scroll h2 {
    margin-bottom: 279px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px; }
  .main-scroll .scroll_item {
    padding: 67px 300px 67px 70px;
    background-color: #fff;
    display: flex;
    text-align: left;
    margin-left: 190px;
    align-items: center; }
    .main-scroll .scroll_item img {
      margin-right: 50px; }
    .main-scroll .scroll_item p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 17px; }
    .main-scroll .scroll_item span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      /* identical to box height, or 156% */
      color: #000000; }

@media (max-width: 800px) {
  .main-scroll {
    padding: 40px 0px 0px 0px; }
    .main-scroll h2 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 30px; }
    .main-scroll p {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 60px; }
    .main-scroll br {
      display: none; }
    .main-scroll .scroll_item {
      border: 1px solid #000;
      padding: 10px 10px;
      margin-left: 0px;
      margin-top: 100px; }
    .main-scroll .icon4 {
      display: none; } }
.main-choice {
  text-align: center; }
  .main-choice h2 {
    margin-bottom: 40px; }
  .main-choice p {
    margin-bottom: 103px; }
  .main-choice .main-choice_container {
    display: flex; }
  .main-choice .main-choice_box {
    text-align: center;
    margin-right: 30px; }
    .main-choice .main-choice_box img {
      margin-bottom: 81px; }
  .main-choice button {
    height: 52px;
    width: 144px;
    margin-bottom: 111px; }

@media (max-width: 800px) {
  .main-choice {
    padding: 40px 0px 0px 0px; }
    .main-choice h2 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 30px; }
    .main-choice p {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 60px; }
    .main-choice br {
      display: none; }
    .main-choice .main-choice_container :nth-child(even) {
      display: none; }
    .main-choice .main-choice_container {
      display: block; }
      .main-choice .main-choice_container .main-choice_box {
        margin-right: 0px; } }
.main-esclusive {
  margin-bottom: 110px;
  text-align: center;
  background-color: #f3e02b;
  padding: 111px 0px; }
  .main-esclusive h2 {
    margin-bottom: 41px; }
  .main-esclusive p {
    margin-bottom: 79px; }
  .main-esclusive button {
    width: 137px;
    height: 52px; }

@media (max-width: 800px) {
  .main-esclusive {
    padding: 40px 0px 0px 0px; }
    .main-esclusive h2 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 30px; }
    .main-esclusive p {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 60px; }
    .main-esclusive br {
      display: none; }
    .main-esclusive button {
      margin-bottom: 40px; } }
.career h2 {
  margin-bottom: 100px; }
.career .career-container {
  background-image: url(../img/main/career/Rectangle3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 80px 0px 80px 80px;
  margin-bottom: 131px; }
.career .career-box {
  padding: 70px;
  background-color: #fff;
  height: 474px;
  width: 500px;
  text-align: center; }
  .career .career-box p {
    margin-bottom: 59px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px; }

@media (max-width: 800px) {
  .career {
    padding: 40px 0px 0px 0px; }
    .career h2 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 30px; }
    .career p {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 60px; }
    .career br {
      display: none; }
    .career .career-container {
      padding: 150px 0px 0px 0px; }
      .career .career-container .career-box {
        padding: 20px;
        width: 100%;
        height: 100%; }
        .career .career-container .career-box p {
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 40px; }
        .career .career-container .career-box img {
          width: 100%; } }
.job-search {
  text-align: center;
  background-color: #ebeef3;
  padding-bottom: 389px;
  padding-top: 38px; }
  .job-search h2 {
    margin-bottom: 35px; }

.wrapper {
  position: relative; }
  .wrapper .search1 {
    position: absolute;
    top: 200%;
    left: 17%; }
  .wrapper .search2 {
    position: absolute;
    top: 200%;
    left: 0%; }
  .wrapper .search3 {
    position: absolute;
    top: 165%;
    left: 50%; }

@media (max-width: 800px) {
  .job-search h2 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 30px; }
  .job-search p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 60px; }
  .job-search br {
    display: none; }

  .wrapper .search1 {
    top: 200%;
    left: 20%; }
  .wrapper .search2 {
    width: 213px;
    top: 133%;
    left: 20%; }
  .wrapper .search3 {
    width: 500px;
    top: 338%;
    left: -6%; } }
.next-job {
  background-color: #0f1035;
  position: relative;
  z-index: 1;
  padding-top: 97px;
  padding-bottom: 110px;
  text-align: center;
  margin-bottom: 95px; }
  .next-job h2 {
    margin-bottom: 40px;
    color: #fff; }
  .next-job p {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px; }

.job-search_container input {
  height: 46px;
  width: 340px;
  border-radius: 3px; }
.job-search_container button {
  height: 46px;
  width: 108px;
  border-radius: 3px;
  background-color: #ff1100; }

@media (max-width: 800px) {
  .next-job h2 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 30px; }
  .next-job p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 60px; }
  .next-job br {
    display: none; }

  button {
    margin-top: 20px; } }
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px; }
  .footer-top nav li {
    display: inline-block;
    padding-right: 81px; }
  .footer-top nav li:last-child {
    padding-right: 0px; }
  .footer-top a {
    color: #000000;
    font-weight: 700; }
  .footer-top .logo-static {
    padding-top: 37px; }
  .footer-top .logo-static li {
    display: block;
    padding-right: 0px;
    padding-top: 15px; }
  .footer-top .logo-static li:first-child {
    padding-top: 0px; }
  .footer-top .logo-static a {
    font-weight: 400; }

.wrapper {
  position: relative; }
  .wrapper .search4 {
    position: absolute;
    height: 42px;
    width: 88px;
    top: 28%;
    left: 9%; }
  .wrapper .search5 {
    height: 42px;
    width: 88px;
    position: absolute;
    top: 28%;
    left: 0%; }
  .wrapper hr {
    position: absolute;
    height: 1px;
    width: 1066.6875px;
    top: 138%;
    left: 7%; }

@media (max-width: 800px) {
  .footer-top h2 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 30px; }
  .footer-top p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 60px; }
  .footer-top br {
    display: none; }
  .footer-top nav li ul {
    display: none; }
  .footer-top nav li {
    display: block;
    padding-right: 0px;
    padding-bottom: 20px; }
  .footer-top nav li:last-child {
    padding-bottom: 0px; }

  .wrapper .search4 {
    top: 28%;
    left: 28%; }
  .wrapper .search5 {
    top: 28%;
    left: 0%; }
  .wrapper hr {
    width: 100%;
    top: 138%;
    left: 0%; } }
.footer-under {
  padding-top: 24px; }

.footer-container {
  display: flex;
  justify-content: space-between; }
  .footer-container nav li {
    display: inline-block;
    padding-right: 24px; }
  .footer-container nav a {
    text-decoration: none;
    color: #000000; }

@media (max-width: 800px) {
  .footer-under {
    padding-top: 0px; }
    .footer-under .footer-container {
      display: block;
      text-align: center; }
      .footer-under .footer-container nav li {
        display: inline;
        padding-right: 2%; }
        .footer-under .footer-container nav li a {
          font-size: 11px; }
      .footer-under .footer-container .footer-logo {
        margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
